@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #24293e;
  --clr-secondary: #2f3651;
  --clr-red-900: hsla(360, 100%, 17%, 1);
  --clr-blue-500: hsla(227, 47%, 23%, 1);
  --clr-blue-900: hsla(227, 100%, 17%, 1);
  --clr-btn: #8ebbff;

  --ff-base: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: system-ui;
  margin: 0;
  font-size: var(--fs-400);
  line-height: 1.5;
}

Image,
img,
svg,
video {
  max-width: 100%;
  display: block;
}

button {
  color: var(--clr-btn);
}

p {
  max-width: 65ch;
}

/********Line design**********/
.line-design {
  display: flex;
  flex-direction: row;
}
.line-design:before,
.line-design:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid white;
  margin: auto;
}
.line-design:before {
  margin-right: 10px;
}
.line-design:after {
  margin-left: 10px;
}

/******************************/

.p-color {
  background-color: var(--bg-primary);
}

.wrapper {
  width: min(50rem, 100% - 2rem);
  margin-inline: auto;
}

.auth-image {
  background: url("/garage-gym.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.chart {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/*********Mobile**********/
@media (max-width: 868px) {
  .auth-image {
    background: url("/garage-gym.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }
}
