@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #2f3651;
  --clr-red-900: hsla(360, 100%, 17%, 1);
  --clr-blue-500: hsla(227, 47%, 23%, 1);
  --clr-blue-900: hsla(227, 100%, 17%, 1);
  --clr-btn: #8ebbff;

  --ff-base: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
}

body {
  color: white;
  font-family: system-ui;
  margin: 0;
  font-size: var(--fs-400);
  line-height: 1.5;
}

Image,
img,
svg,
video {
  max-width: 100%;
  display: block;
}

button {
  color: var(--clr-btn);
}

p {
  max-width: 65ch;
}

/********Line design**********/
.line-design {
  display: flex;
  flex-direction: row;
}
.line-design:before,
.line-design:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid white;
  margin: auto;
}
.line-design:before {
  margin-right: 10px;
}
.line-design:after {
  margin-left: 10px;
}

/******************************/

.p-color {
  background-color: var(--bg-primary);
}

.wrapper {
  width: min(50rem, 100% - 2rem);
  margin-inline: auto;
}

.auth-image {
  background: url("/bgImage.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.primary-header {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: gray;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.home-link {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8d99ae;
  border-radius: 20px;
  color: #495057;
  background-color: #8ebbff;
  padding: 5px 32px;
  width: 35rem;
  margin: 2rem auto;
}

.workoutlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-bottom: 8rem;
}

.home-link:active {
  background: #495057;
  color: #fff;
}

.workoutlist-item {
  padding: 10px;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.workout-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.workout-card-item {
  display: flex;
  gap: 2rem;
  padding: 5px;
}

.workoutlist-btn {
  display: flex;
  justify-content: space-around;
}

.remove-btn {
  font-size: 1.5rem;
}

.workoutlist__edit-btn {
  font-size: 1.5rem;
}

.searchbar-form {
  display: flex;
  /* margin: 1rem; */
}

.searchbar-form__input {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid #8d99ae;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  margin: 4rem;
  padding-left: 1rem;
}

.searchbar-form__input:focus {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.searchbar-btn {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;

  &#create-btn {
    color: #03045e;
    margin: 1rem;
  }

  &#cancel-btn {
    position: relative;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: #c1121f;
  }

  &#__add-btn {
    right: 0;
    margin: 1rem;
    color: #03045e;
  }
}

.filtered__list {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  cursor: pointer;
  gap: 1rem;
}

.filtered__item {
  border-top: 1px solid black;
  padding-top: 1rem;
}

.filtered__item-checkbox {
  margin: 1rem;
}

.workout-form__container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;

  .workout-form__item {
    display: flex;
    flex-direction: row;

    .workout-form__label-input {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.workout-form__title {
  text-align: center;
  font-size: 2rem;
}

.workout-form__input {
  display: flex;
  width: 5rem;
  border-radius: 10px;
  background-color: lightgrey;
  color: #000;
}

.workout-form__input:focus {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.workout-form__btn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;

  .workout-form__submit-btn {
    background-color: darkblue;
    color: #fff;
    border-radius: 10px;
  }

  .workout-form__add-btn {
    background-color: lightgrey;
    color: #000;
    border-radius: 10px;
  }

  .workout-form__cancel-btn {
    background-color: lightcoral;
    color: #fff;
    border-radius: 10px;
  }
}

.login__google {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.profile {
  margin: auto;
}

.profile-card {
  padding: 1rem;
  margin: 2rem auto;
  gap: 1rem;
  border-radius: 20px;
  border: 1px solid #fff;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  text-align: center;
}

.profile-title {
  font-weight: var(--fw-bold);
}

.statistics-card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* height: 100%; */
  /* width: 100%; */
  margin-top: 1rem;
  /* gap: 1rem; */
  /* border-radius: 20px; */
  /* border: 1px solid #fff; */
}

.chart {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-image {
  border-radius: 20px;
  margin: 1rem;
}

.sign-out-btn {
  margin: 1rem;
  font-weight: var(--fw-bold);
}

/********Line design**********/
.linethrough {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.linethrough:before,
.linethrough:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.linethrough:before {
  margin-right: 10px;
}
.linethrough:after {
  margin-left: 10px;
}

/*********Mobile**********/
@media (max-width: 868px) {
  .profile-card {
    margin: 1.5rem auto;
  }

  .auth-image {
    background: url("/bgImage.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }

  .home-link {
    width: 25rem;
  }
}
