@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #c5dff8;
  --clr-red-900: hsla(360, 100%, 17%, 1);
  --clr-blue-500: hsla(227, 47%, 23%, 1);
  --clr-blue-900: hsla(227, 100%, 17%, 1);

  --ff-base: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  margin: 0;
  color: #000;
  font-size: var(--fs-400);
  line-height: 1.5;
  scroll-behavior: smooth;
  background: var(--bg-primary);
}

Image,
img,
svg,
video {
  max-width: 100%;
  display: block;
}

p {
  max-width: 65ch;
}

.wrapper {
  width: min(50rem, 100% - 2rem);
  margin-inline: auto;
}

.primary-header {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: gray;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.home-link {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8d99ae;
  border-radius: 20px;
  color: #495057;
  background-color: #fff;
  padding: 16px 32px;
  width: 15rem;
  margin: 1rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.workoutlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-bottom: 8rem;
}

.home-link:active {
  background: #495057;
  color: #fff;
}

.workoutlist-item {
  padding: 10px;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.workout-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.workout-card-item {
  display: flex;
  gap: 2rem;
  padding: 5px;
}

.workoutlist-btn {
  display: flex;
  justify-content: space-between;
}

.remove-btn:active {
  background: #d90429;
}

.searchbar-form {
  display: flex;
  margin: 1rem;
}

.searchbar-form__input {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid #8d99ae;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  margin: 4rem;
  padding-left: 1rem;
}

.searchbar-form__input:focus {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.searchbar-btn {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;

  &#create-btn {
    color: #03045e;
    margin: 1rem;
  }

  &#cancel-btn {
    position: relative;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: #c1121f;
  }

  &#__add-btn {
    right: 0;
    margin: 1rem;
    color: #03045e;
  }
}

.filtered__list {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  gap: 1rem;
}

.filtered__item {
  border-top: 1px solid black;
  padding-top: 1rem;
}

.filtered__item-checkbox {
  margin: 1rem;
}

.finish-workout-form__title {
  text-align: center;
  font-size: 2rem;
}

.finish-workout-form__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto 1rem;
}

.finish-workout-form__set-id {
  background-color: #edf2f4;
  border: 1px solid #8d99ae;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.finish-workout-form__item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.finish-workout-form__input {
  display: flex;
  width: 5rem;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.finish-workout-form__input:focus {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.finish-workout-form__btn-container {
  display: flex;
  flex-direction: column;
}

.finish-workout-form__btn {
  background-color: #03045e;
  color: #fff;
  border-radius: 10px;
  margin: 1rem;
}

.finish-workout-form__custom-btn {
  background-color: #03045e;
  color: #fff;
  border-radius: 10px;
  margin: 1rem;
}

.finish-workout-form__cancel-btn {
  background-color: #ff8fa3;
  color: #fff;
  border-radius: 10px;
  margin: 1rem;
}

.edit-workout-form__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;

  .edit-workout-form__item {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;

    .edit-workout-form__set-id {
      background-color: #edf2f4;
      border: 1px solid #8d99ae;
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .edit-workout-form__lbs {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.edit-workout-form__title {
  text-align: center;
  font-size: 2rem;
}

.edit-workout-form__input {
  display: flex;
  width: 5rem;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.edit-workout-form__input:focus {
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.edit-workout-form__btn {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;

  .edit-workout-form__submit-btn {
    background-color: darkblue;
    color: #fff;
    border-radius: 10px;
  }

  .edit-workout-form__add-btn {
    background-color: darkgrey;
    color: #fff;
    border-radius: 10px;
  }

  .edit-workout-form__cancel-btn {
    background-color: lightcoral;
    color: #fff;
    border-radius: 10px;
  }
}

.login__google {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-card {
  padding: 1rem;
  margin: auto;
  gap: 1rem;
  border-radius: 20px;
  border: 1px solid #fff;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  text-align: center;
}

.profile-title {
  font-weight: var(--fw-bold);
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-image {
  border-radius: 20px;
  margin: 1rem;
}

.sign-out-btn {
  margin: 1rem;
  font-weight: var(--fw-bold);
}

/********Line design**********/
.linethrough {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.linethrough:before,
.linethrough:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.linethrough:before {
  margin-right: 10px;
}
.linethrough:after {
  margin-left: 10px;
}

/*********Mobile**********/
@media (max-width: 868px) {
  .profile-card {
    margin: 10rem auto;
  }
}
